@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+JP&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(../images/blackmarblebackground.png);
    background-size: cover;
    background-position: center;
    color: #e2e5de;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
}

header {
    position: relative;
    background-color: #191919;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}
    
a:link {
    color: #d8b759; 
    background-color: transparent; 
    text-decoration: none; 
    font-weight: bolder;
}

a:hover {
    color: #e2e5de; 
    background-color: transparent; 
    text-decoration: underline; 
    font-size: 40px; 
    font-weight: bolder;
    transition: 1s;
}

/*Figure out why when I add the below styling it messes up the styling for the rest of the page
    a:link {
    color: #d8b759; 
    background-color: transparent; 
    text-decoration: none; 
    font-weight: bolder;
*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
}

h1 {color: #d8b759;
    font-size: 300px;
    font-family: 'Comforter', cursive;
    text-align: left;
    letter-spacing: 1px;
    margin: 15px;
    padding-left: 50px;
}

h2 {color: #e2e5de;
    font-size: 100px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: right;
    letter-spacing: 1px;
    margin: 15px;
    padding-right: 50px;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    height: 100%;
    width: 100%;
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.profile-img {
    height: auto;
    width: 50%;
}

.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text {
    width: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.about-text h1 {
    color: #d8b759;
    font-size: 150px;
    font-family: 'Comforter', cursive;
    text-align: center;
    letter-spacing: 1px;
    margin: 15px;
}

.about-text p {
    color:#e2e5de;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
}

.work {
    height: 100%;
    width: 100%;
    background-image: url(../images/blackmarblebackground.png); 
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.work h1 {
    color: #d8b759;
    font-size: 150px;
    font-family: 'Comforter', cursive;
    text-align: center;
    letter-spacing: 1px;
    margin: 25px;
}

.work ul li {
    color: #d8b759
    font-size: 30px;
    list-style-type: none;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
}

footer {
    position: relative;
    background-color: #191919;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

footer h1 {
    color: #d8b759;
    font-size: 30px;
    font-family: 'Comforter', cursive;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 10px;
}

footer p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
}

footer ul li {
    display: inline;
    align-items: center;
}