* {
    margin: 0; 
    padding: 0;
    font-family: ;
    box-sizing: border-box;
}
body {
    height: 400vh;
    width: 150%;
    background-image: url(../blackmarblebackground.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
nav {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-top: 50px;
    padding-right: 50px;
    font-weight: bolder
}
nav a:link {
    color: #d8b759; 
    background-color: transparent; 
    text-decoration: none; 
    font-weight: bolder;
}
nav a:hover {
    color: #d8b759; 
    background-color: transparent; 
    text-decoration: underline; 
    font-size: 40px; 
    font-weight: bolder;
}
nav a:active {
    color: #d8b759; 
    background-color: transparent; 
    text-decoration: none; 
    font-weight: bolder;
}
nav a:visited {
    color: #d8b759; 
    background-color: transparent; 
    text-decoration: underline; 
    font-weight: bolder;
}
.title-page {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding: auto;
}
body {
    color: #e2e5de; 
    font-size: large;
}
h1 {
    color: #d8b759; 
    text-align: center; 
    font-size: 50px; 
    font-weight: bolder;
} 
.profile-img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
h2 {
    color: #d8b759; 
    text-align: center; 
    font-size: 40px; 
    font-weight: bolder;
}
p {
    text-align: center; 
    font-size: 20px;
}
ul {
    text-align: center; 
    font-size: 20px;
}
a:link {
    color: #d8b759; 
    text-decoration: none; 
    font-weight: bolder;
}
a:hover {
    color: #d8b759; 
    text-decoration: underline; 
    font-size: 30px; 
    font-weight: bolder;
}
a:active {
color: #d8b759; 
text-decoration: none; 
font-weight: bolder;
}
a:visited {
color: #d8b759; 
text-decoration: underline; 
font-weight: bolder;
}
.logo {}