* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(../blackmarblebackground.png);
    background-size: cover;
    background-position: center;
    color: #d8b759;
    font-size: 30px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 50px;
}

nav ul li a:link {
    color: #d8b759; 
    background-color: transparent; 
    text-decoration: none; 
    font-weight: bolder;
}

nav ul li a:hover {
    color: #e2e5de; 
    background-color: transparent; 
    text-decoration: underline; 
    font-size: 40px; 
    font-weight: bolder;
    transition: 1s;
}

.about-me {
    width: 100%;
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-me img {
    height: auto;
    width: 50%;
}
.about-text {
    width: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.about-text h2 {
    color: #d8b759;
    font-size: 70px;
    text-align: center;
    letter-spacing: 1px;
    margin: 25px;
}

.about-text p {
    color:#e2e5de;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work {
    height: 100%;
    background-image: url(../blackmarblebackground.png); 
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.work h2 {
    color: #d8b759;
    font-size: 70px;
    text-align: center;
    letter-spacing: 1px;
    margin: 25px;
}

.work ul li {
    color: #d8b759
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}